<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.IMS.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.IMS.entity.Emp">
    <id column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="EMP_SEX" jdbcType="VARCHAR" property="empSex" />
    <result column="EMP_HIREDATE" jdbcType="TIMESTAMP" property="empHiredate" />
    <result column="EMP_ENTRY_AGE" jdbcType="DECIMAL" property="empEntryAge" />
    <result column="EMP_DEPT" jdbcType="VARCHAR" property="empDept" />
    <result column="EMP_SEC" jdbcType="VARCHAR" property="empSec" />
    <result column="EMP_POST" jdbcType="VARCHAR" property="empPost" />
    <result column="EMP_EMAIL" jdbcType="VARCHAR" property="empEmail" />
    <result column="EMP_TEL" jdbcType="VARCHAR" property="empTel" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR4" jdbcType="VARCHAR" property="attr4" />
    <result column="ATTR5" jdbcType="VARCHAR" property="attr5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EMP_ID, EMP_NAME, EMP_SEX, EMP_HIREDATE, EMP_ENTRY_AGE, EMP_DEPT, EMP_SEC, EMP_POST, 
    EMP_EMAIL, EMP_TEL, CREATE_TIME, UPDATE_TIME, ATTR1, ATTR2, ATTR3, ATTR4, ATTR5
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.IMS.entity.EmpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.EMP
    where EMP_ID = #{empId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.EMP
    where EMP_ID = #{empId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.IMS.entity.EmpExample">
    delete from IMS.EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.IMS.entity.Emp">
    insert into IMS.EMP (EMP_ID, EMP_NAME, EMP_SEX, 
      EMP_HIREDATE, EMP_ENTRY_AGE, EMP_DEPT, 
      EMP_SEC, EMP_POST, EMP_EMAIL, 
      EMP_TEL, CREATE_TIME, UPDATE_TIME, 
      ATTR1, ATTR2, ATTR3, 
      ATTR4, ATTR5)
    values (#{empId,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, #{empSex,jdbcType=VARCHAR}, 
      #{empHiredate,jdbcType=TIMESTAMP}, #{empEntryAge,jdbcType=DECIMAL}, #{empDept,jdbcType=VARCHAR}, 
      #{empSec,jdbcType=VARCHAR}, #{empPost,jdbcType=VARCHAR}, #{empEmail,jdbcType=VARCHAR}, 
      #{empTel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR}, 
      #{attr4,jdbcType=VARCHAR}, #{attr5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.IMS.entity.Emp">
    insert into IMS.EMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="empName != null">
        EMP_NAME,
      </if>
      <if test="empSex != null">
        EMP_SEX,
      </if>
      <if test="empHiredate != null">
        EMP_HIREDATE,
      </if>
      <if test="empEntryAge != null">
        EMP_ENTRY_AGE,
      </if>
      <if test="empDept != null">
        EMP_DEPT,
      </if>
      <if test="empSec != null">
        EMP_SEC,
      </if>
      <if test="empPost != null">
        EMP_POST,
      </if>
      <if test="empEmail != null">
        EMP_EMAIL,
      </if>
      <if test="empTel != null">
        EMP_TEL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="attr1 != null">
        ATTR1,
      </if>
      <if test="attr2 != null">
        ATTR2,
      </if>
      <if test="attr3 != null">
        ATTR3,
      </if>
      <if test="attr4 != null">
        ATTR4,
      </if>
      <if test="attr5 != null">
        ATTR5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        #{empSex,jdbcType=VARCHAR},
      </if>
      <if test="empHiredate != null">
        #{empHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="empEntryAge != null">
        #{empEntryAge,jdbcType=DECIMAL},
      </if>
      <if test="empDept != null">
        #{empDept,jdbcType=VARCHAR},
      </if>
      <if test="empSec != null">
        #{empSec,jdbcType=VARCHAR},
      </if>
      <if test="empPost != null">
        #{empPost,jdbcType=VARCHAR},
      </if>
      <if test="empEmail != null">
        #{empEmail,jdbcType=VARCHAR},
      </if>
      <if test="empTel != null">
        #{empTel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null">
        #{attr5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.IMS.entity.EmpExample" resultType="java.lang.Long">
    select count(*) from IMS.EMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.EMP
    <set>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null">
        EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.empSex != null">
        EMP_SEX = #{record.empSex,jdbcType=VARCHAR},
      </if>
      <if test="record.empHiredate != null">
        EMP_HIREDATE = #{record.empHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.empEntryAge != null">
        EMP_ENTRY_AGE = #{record.empEntryAge,jdbcType=DECIMAL},
      </if>
      <if test="record.empDept != null">
        EMP_DEPT = #{record.empDept,jdbcType=VARCHAR},
      </if>
      <if test="record.empSec != null">
        EMP_SEC = #{record.empSec,jdbcType=VARCHAR},
      </if>
      <if test="record.empPost != null">
        EMP_POST = #{record.empPost,jdbcType=VARCHAR},
      </if>
      <if test="record.empEmail != null">
        EMP_EMAIL = #{record.empEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.empTel != null">
        EMP_TEL = #{record.empTel,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attr1 != null">
        ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      </if>
      <if test="record.attr2 != null">
        ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      </if>
      <if test="record.attr3 != null">
        ATTR3 = #{record.attr3,jdbcType=VARCHAR},
      </if>
      <if test="record.attr4 != null">
        ATTR4 = #{record.attr4,jdbcType=VARCHAR},
      </if>
      <if test="record.attr5 != null">
        ATTR5 = #{record.attr5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.EMP
    set EMP_ID = #{record.empId,jdbcType=VARCHAR},
      EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      EMP_SEX = #{record.empSex,jdbcType=VARCHAR},
      EMP_HIREDATE = #{record.empHiredate,jdbcType=TIMESTAMP},
      EMP_ENTRY_AGE = #{record.empEntryAge,jdbcType=DECIMAL},
      EMP_DEPT = #{record.empDept,jdbcType=VARCHAR},
      EMP_SEC = #{record.empSec,jdbcType=VARCHAR},
      EMP_POST = #{record.empPost,jdbcType=VARCHAR},
      EMP_EMAIL = #{record.empEmail,jdbcType=VARCHAR},
      EMP_TEL = #{record.empTel,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      ATTR3 = #{record.attr3,jdbcType=VARCHAR},
      ATTR4 = #{record.attr4,jdbcType=VARCHAR},
      ATTR5 = #{record.attr5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.IMS.entity.Emp">
    update IMS.EMP
    <set>
      <if test="empName != null">
        EMP_NAME = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empSex != null">
        EMP_SEX = #{empSex,jdbcType=VARCHAR},
      </if>
      <if test="empHiredate != null">
        EMP_HIREDATE = #{empHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="empEntryAge != null">
        EMP_ENTRY_AGE = #{empEntryAge,jdbcType=DECIMAL},
      </if>
      <if test="empDept != null">
        EMP_DEPT = #{empDept,jdbcType=VARCHAR},
      </if>
      <if test="empSec != null">
        EMP_SEC = #{empSec,jdbcType=VARCHAR},
      </if>
      <if test="empPost != null">
        EMP_POST = #{empPost,jdbcType=VARCHAR},
      </if>
      <if test="empEmail != null">
        EMP_EMAIL = #{empEmail,jdbcType=VARCHAR},
      </if>
      <if test="empTel != null">
        EMP_TEL = #{empTel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attr1 != null">
        ATTR1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        ATTR2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        ATTR3 = #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        ATTR4 = #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null">
        ATTR5 = #{attr5,jdbcType=VARCHAR},
      </if>
    </set>
    where EMP_ID = #{empId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.IMS.entity.Emp">
    update IMS.EMP
    set EMP_NAME = #{empName,jdbcType=VARCHAR},
      EMP_SEX = #{empSex,jdbcType=VARCHAR},
      EMP_HIREDATE = #{empHiredate,jdbcType=TIMESTAMP},
      EMP_ENTRY_AGE = #{empEntryAge,jdbcType=DECIMAL},
      EMP_DEPT = #{empDept,jdbcType=VARCHAR},
      EMP_SEC = #{empSec,jdbcType=VARCHAR},
      EMP_POST = #{empPost,jdbcType=VARCHAR},
      EMP_EMAIL = #{empEmail,jdbcType=VARCHAR},
      EMP_TEL = #{empTel,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ATTR1 = #{attr1,jdbcType=VARCHAR},
      ATTR2 = #{attr2,jdbcType=VARCHAR},
      ATTR3 = #{attr3,jdbcType=VARCHAR},
      ATTR4 = #{attr4,jdbcType=VARCHAR},
      ATTR5 = #{attr5,jdbcType=VARCHAR}
    where EMP_ID = #{empId,jdbcType=VARCHAR}
  </update>
</mapper>