<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.IMS.dao.PreGradeMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.IMS.entity.PreGrade">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="SECTION" jdbcType="VARCHAR" property="section" />
    <result column="GRADE" jdbcType="DECIMAL" property="grade" />
    <result column="SEC_GRADE" jdbcType="DECIMAL" property="secGrade" />
    <result column="TEST_DATE" jdbcType="TIMESTAMP" property="testDate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATER_ID" jdbcType="VARCHAR" property="updaterId" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, VERSION, EMP_ID, EMP_NAME, SECTION, GRADE, SEC_GRADE, TEST_DATE, CREATE_TIME, 
    CREATOR_ID, CREATOR, UPDATE_TIME, UPDATER_ID, UPDATER, STATUS, REMARK, DEL_FLAG, 
    ATTR1, ATTR2, ATTR3
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.IMS.entity.PreGradeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.PRE_GRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.PRE_GRADE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.PRE_GRADE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.IMS.entity.PreGradeExample">
    delete from IMS.PRE_GRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.IMS.entity.PreGrade">
    insert into IMS.PRE_GRADE (ID, VERSION, EMP_ID, 
      EMP_NAME, SECTION, GRADE, 
      SEC_GRADE, TEST_DATE, CREATE_TIME, 
      CREATOR_ID, CREATOR, UPDATE_TIME, 
      UPDATER_ID, UPDATER, STATUS, 
      REMARK, DEL_FLAG, ATTR1, 
      ATTR2, ATTR3)
    values (#{id,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{empName,jdbcType=VARCHAR}, #{section,jdbcType=VARCHAR}, #{grade,jdbcType=DECIMAL}, 
      #{secGrade,jdbcType=DECIMAL}, #{testDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updaterId,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{attr1,jdbcType=VARCHAR}, 
      #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.IMS.entity.PreGrade">
    insert into IMS.PRE_GRADE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="empName != null">
        EMP_NAME,
      </if>
      <if test="section != null">
        SECTION,
      </if>
      <if test="grade != null">
        GRADE,
      </if>
      <if test="secGrade != null">
        SEC_GRADE,
      </if>
      <if test="testDate != null">
        TEST_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updaterId != null">
        UPDATER_ID,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="attr1 != null">
        ATTR1,
      </if>
      <if test="attr2 != null">
        ATTR2,
      </if>
      <if test="attr3 != null">
        ATTR3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=DECIMAL},
      </if>
      <if test="secGrade != null">
        #{secGrade,jdbcType=DECIMAL},
      </if>
      <if test="testDate != null">
        #{testDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.IMS.entity.PreGradeExample" resultType="java.lang.Long">
    select count(*) from IMS.PRE_GRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.PRE_GRADE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null">
        EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.section != null">
        SECTION = #{record.section,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null">
        GRADE = #{record.grade,jdbcType=DECIMAL},
      </if>
      <if test="record.secGrade != null">
        SEC_GRADE = #{record.secGrade,jdbcType=DECIMAL},
      </if>
      <if test="record.testDate != null">
        TEST_DATE = #{record.testDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        UPDATER_ID = #{record.updaterId,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null">
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.attr1 != null">
        ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      </if>
      <if test="record.attr2 != null">
        ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      </if>
      <if test="record.attr3 != null">
        ATTR3 = #{record.attr3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.PRE_GRADE
    set ID = #{record.id,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=VARCHAR},
      EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      SECTION = #{record.section,jdbcType=VARCHAR},
      GRADE = #{record.grade,jdbcType=DECIMAL},
      SEC_GRADE = #{record.secGrade,jdbcType=DECIMAL},
      TEST_DATE = #{record.testDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATER_ID = #{record.updaterId,jdbcType=VARCHAR},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      ATTR3 = #{record.attr3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.IMS.entity.PreGrade">
    update IMS.PRE_GRADE
    <set>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        EMP_NAME = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        SECTION = #{section,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        GRADE = #{grade,jdbcType=DECIMAL},
      </if>
      <if test="secGrade != null">
        SEC_GRADE = #{secGrade,jdbcType=DECIMAL},
      </if>
      <if test="testDate != null">
        TEST_DATE = #{testDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        UPDATER_ID = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        ATTR1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        ATTR2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        ATTR3 = #{attr3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.IMS.entity.PreGrade">
    update IMS.PRE_GRADE
    set VERSION = #{version,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=VARCHAR},
      EMP_NAME = #{empName,jdbcType=VARCHAR},
      SECTION = #{section,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=DECIMAL},
      SEC_GRADE = #{secGrade,jdbcType=DECIMAL},
      TEST_DATE = #{testDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATER_ID = #{updaterId,jdbcType=VARCHAR},
      UPDATER = #{updater,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      ATTR1 = #{attr1,jdbcType=VARCHAR},
      ATTR2 = #{attr2,jdbcType=VARCHAR},
      ATTR3 = #{attr3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>