<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.core.dao.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.core.entity.SysDictionary">
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="DICT_CODE" jdbcType="VARCHAR" property="dictCode" />
    <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName" />
    <result column="DICT_GROUP" jdbcType="VARCHAR" property="dictGroup" />
    <result column="DICT_TYPE" jdbcType="VARCHAR" property="dictType" />
    <result column="SORT_INDEX" jdbcType="VARCHAR" property="sortIndex" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UUID, DICT_CODE, DICT_NAME, DICT_GROUP, DICT_TYPE, SORT_INDEX
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.core.entity.SysDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.SYS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.SYS_DICTIONARY
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.SYS_DICTIONARY
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.core.entity.SysDictionaryExample">
    delete from IMS.SYS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.core.entity.SysDictionary">
    insert into IMS.SYS_DICTIONARY (UUID, DICT_CODE, DICT_NAME, 
      DICT_GROUP, DICT_TYPE, SORT_INDEX
      )
    values (#{uuid,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{dictGroup,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR}, #{sortIndex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.core.entity.SysDictionary">
    insert into IMS.SYS_DICTIONARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="dictCode != null">
        DICT_CODE,
      </if>
      <if test="dictName != null">
        DICT_NAME,
      </if>
      <if test="dictGroup != null">
        DICT_GROUP,
      </if>
      <if test="dictType != null">
        DICT_TYPE,
      </if>
      <if test="sortIndex != null">
        SORT_INDEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictGroup != null">
        #{dictGroup,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.core.entity.SysDictionaryExample" resultType="java.lang.Long">
    select count(*) from IMS.SYS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.SYS_DICTIONARY
    <set>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dictCode != null">
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null">
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictGroup != null">
        DICT_GROUP = #{record.dictGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.dictType != null">
        DICT_TYPE = #{record.dictType,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null">
        SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.SYS_DICTIONARY
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      DICT_GROUP = #{record.dictGroup,jdbcType=VARCHAR},
      DICT_TYPE = #{record.dictType,jdbcType=VARCHAR},
      SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.core.entity.SysDictionary">
    update IMS.SYS_DICTIONARY
    <set>
      <if test="dictCode != null">
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictGroup != null">
        DICT_GROUP = #{dictGroup,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        DICT_TYPE = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        SORT_INDEX = #{sortIndex,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.core.entity.SysDictionary">
    update IMS.SYS_DICTIONARY
    set DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      DICT_GROUP = #{dictGroup,jdbcType=VARCHAR},
      DICT_TYPE = #{dictType,jdbcType=VARCHAR},
      SORT_INDEX = #{sortIndex,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>