<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.core.dao.SysModuleMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.core.entity.SysModule">
    <id column="MODULE_ID" jdbcType="VARCHAR" property="moduleId" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="MODULE_CODE" jdbcType="VARCHAR" property="moduleCode" />
    <result column="MODULE_NAME" jdbcType="VARCHAR" property="moduleName" />
    <result column="SORT_INDEX" jdbcType="VARCHAR" property="sortIndex" />
    <result column="MODULE_REMARK" jdbcType="VARCHAR" property="moduleRemark" />
    <result column="MODULE_PID" jdbcType="VARCHAR" property="modulePid" />
    <result column="MODULE_URL" jdbcType="VARCHAR" property="moduleUrl" />
    <result column="URL_TARGET" jdbcType="VARCHAR" property="urlTarget" />
    <result column="ICON_CLASS" jdbcType="VARCHAR" property="iconClass" />
    <result column="IS_SHOW" jdbcType="VARCHAR" property="isShow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MODULE_ID, SYSTEM_ID, MODULE_CODE, MODULE_NAME, SORT_INDEX, MODULE_REMARK, MODULE_PID, 
    MODULE_URL, URL_TARGET, ICON_CLASS, IS_SHOW
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.core.entity.SysModuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.SYS_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.SYS_MODULE
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.SYS_MODULE
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.core.entity.SysModuleExample">
    delete from IMS.SYS_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.core.entity.SysModule">
    insert into IMS.SYS_MODULE (MODULE_ID, SYSTEM_ID, MODULE_CODE, 
      MODULE_NAME, SORT_INDEX, MODULE_REMARK, 
      MODULE_PID, MODULE_URL, URL_TARGET, 
      ICON_CLASS, IS_SHOW)
    values (#{moduleId,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, #{moduleCode,jdbcType=VARCHAR}, 
      #{moduleName,jdbcType=VARCHAR}, #{sortIndex,jdbcType=VARCHAR}, #{moduleRemark,jdbcType=VARCHAR}, 
      #{modulePid,jdbcType=VARCHAR}, #{moduleUrl,jdbcType=VARCHAR}, #{urlTarget,jdbcType=VARCHAR}, 
      #{iconClass,jdbcType=VARCHAR}, #{isShow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.core.entity.SysModule">
    insert into IMS.SYS_MODULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="moduleCode != null">
        MODULE_CODE,
      </if>
      <if test="moduleName != null">
        MODULE_NAME,
      </if>
      <if test="sortIndex != null">
        SORT_INDEX,
      </if>
      <if test="moduleRemark != null">
        MODULE_REMARK,
      </if>
      <if test="modulePid != null">
        MODULE_PID,
      </if>
      <if test="moduleUrl != null">
        MODULE_URL,
      </if>
      <if test="urlTarget != null">
        URL_TARGET,
      </if>
      <if test="iconClass != null">
        ICON_CLASS,
      </if>
      <if test="isShow != null">
        IS_SHOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="moduleRemark != null">
        #{moduleRemark,jdbcType=VARCHAR},
      </if>
      <if test="modulePid != null">
        #{modulePid,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null">
        #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconClass != null">
        #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.core.entity.SysModuleExample" resultType="java.lang.Long">
    select count(*) from IMS.SYS_MODULE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.SYS_MODULE
    <set>
      <if test="record.moduleId != null">
        MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleCode != null">
        MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null">
        MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null">
        SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleRemark != null">
        MODULE_REMARK = #{record.moduleRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.modulePid != null">
        MODULE_PID = #{record.modulePid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleUrl != null">
        MODULE_URL = #{record.moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.urlTarget != null">
        URL_TARGET = #{record.urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.iconClass != null">
        ICON_CLASS = #{record.iconClass,jdbcType=VARCHAR},
      </if>
      <if test="record.isShow != null">
        IS_SHOW = #{record.isShow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.SYS_MODULE
    set MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR},
      MODULE_REMARK = #{record.moduleRemark,jdbcType=VARCHAR},
      MODULE_PID = #{record.modulePid,jdbcType=VARCHAR},
      MODULE_URL = #{record.moduleUrl,jdbcType=VARCHAR},
      URL_TARGET = #{record.urlTarget,jdbcType=VARCHAR},
      ICON_CLASS = #{record.iconClass,jdbcType=VARCHAR},
      IS_SHOW = #{record.isShow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.core.entity.SysModule">
    update IMS.SYS_MODULE
    <set>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null">
        MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        SORT_INDEX = #{sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="moduleRemark != null">
        MODULE_REMARK = #{moduleRemark,jdbcType=VARCHAR},
      </if>
      <if test="modulePid != null">
        MODULE_PID = #{modulePid,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        MODULE_URL = #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="urlTarget != null">
        URL_TARGET = #{urlTarget,jdbcType=VARCHAR},
      </if>
      <if test="iconClass != null">
        ICON_CLASS = #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        IS_SHOW = #{isShow,jdbcType=VARCHAR},
      </if>
    </set>
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.core.entity.SysModule">
    update IMS.SYS_MODULE
    set SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      SORT_INDEX = #{sortIndex,jdbcType=VARCHAR},
      MODULE_REMARK = #{moduleRemark,jdbcType=VARCHAR},
      MODULE_PID = #{modulePid,jdbcType=VARCHAR},
      MODULE_URL = #{moduleUrl,jdbcType=VARCHAR},
      URL_TARGET = #{urlTarget,jdbcType=VARCHAR},
      ICON_CLASS = #{iconClass,jdbcType=VARCHAR},
      IS_SHOW = #{isShow,jdbcType=VARCHAR}
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </update>
  <select id="getModuleByUser" parameterType="string" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM IMS.SYS_MODULE
    WHERE IS_SHOW!='0'
    AND MODULE_ID IN
    (select distinct m.module_id
    from sys_user                   u,
    user_role_rel              r,
    sys_role                   t,
    role_module_permission_rel a,
    module_permission_rel      b,
    sys_module                 m
    where u.id = #{username}
    AND u.id = r.username
    and r.role_id = t.role_id
    and t.role_id = a.role_id
    AND a.module_permission_id = b.rel_id
    and b.module_id=m.module_id)
    ORDER BY SORT_INDEX
  </select>
  <select id="getParentModuleVOByUser" parameterType="string" resultMap="ModuleVOResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM IMS.SYS_MODULE
    WHERE MODULE_PID ='0'
    AND IS_SHOW!='0'
    AND MODULE_ID IN
    (select distinct m.module_pid
    from sys_user                   u,
    user_role_rel              r,
    sys_role                   t,
    role_module_permission_rel a,
    module_permission_rel      b,
    sys_module                 m
    where u.id = #{username}
    AND u.id = r.username
    and r.role_id = t.role_id
    and t.role_id = a.role_id
    AND a.module_permission_id = b.rel_id
    and b.module_id=m.module_id
    )
    ORDER BY SORT_INDEX
  </select>
  <resultMap id="ModuleVOResultMap" type="com.navinfo.core.vo.MenuVO">
    <id column="MODULE_ID" jdbcType="VARCHAR" property="moduleId" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="MODULE_CODE" jdbcType="VARCHAR" property="moduleCode" />
    <result column="MODULE_NAME" jdbcType="VARCHAR" property="moduleName" />
    <result column="SORT_INDEX" jdbcType="VARCHAR" property="sortIndex" />
    <result column="MODULE_REMARK" jdbcType="VARCHAR" property="moduleRemark" />
    <result column="MODULE_PID" jdbcType="VARCHAR" property="modulePid" />
    <result column="MODULE_URL" jdbcType="VARCHAR" property="moduleUrl" />
    <result column="URL_TARGET" jdbcType="VARCHAR" property="urlTarget" />
    <result column="ICON_CLASS" jdbcType="VARCHAR" property="iconClass" />
    <result column="IS_SHOW" jdbcType="VARCHAR" property="isShow" />
  </resultMap>
</mapper>