<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.core.dao.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.core.entity.SysPermission">
    <id column="PERMISSION_ID" jdbcType="VARCHAR" property="permissionId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PERMISSION_NAME" jdbcType="VARCHAR" property="permissionName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="MODULE_ID" jdbcType="VARCHAR" property="moduleId" />
    <result column="SORT_INDEX" jdbcType="VARCHAR" property="sortIndex" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PERMISSION_ID, PARENT_ID, PERMISSION_NAME, DESCRIPTION, MODULE_ID, SORT_INDEX, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.core.entity.SysPermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.SYS_PERMISSION
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.SYS_PERMISSION
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.core.entity.SysPermissionExample">
    delete from IMS.SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.core.entity.SysPermission">
    insert into IMS.SYS_PERMISSION (PERMISSION_ID, PARENT_ID, PERMISSION_NAME, 
      DESCRIPTION, MODULE_ID, SORT_INDEX, 
      STATUS)
    values (#{permissionId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR}, #{sortIndex,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.core.entity.SysPermission">
    insert into IMS.SYS_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        PERMISSION_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="permissionName != null">
        PERMISSION_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="moduleId != null">
        MODULE_ID,
      </if>
      <if test="sortIndex != null">
        SORT_INDEX,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.core.entity.SysPermissionExample" resultType="java.lang.Long">
    select count(*) from IMS.SYS_PERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.SYS_PERMISSION
    <set>
      <if test="record.permissionId != null">
        PERMISSION_ID = #{record.permissionId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionName != null">
        PERMISSION_NAME = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null">
        MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null">
        SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.SYS_PERMISSION
    set PERMISSION_ID = #{record.permissionId,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      PERMISSION_NAME = #{record.permissionName,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      MODULE_ID = #{record.moduleId,jdbcType=VARCHAR},
      SORT_INDEX = #{record.sortIndex,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.core.entity.SysPermission">
    update IMS.SYS_PERMISSION
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        SORT_INDEX = #{sortIndex,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.core.entity.SysPermission">
    update IMS.SYS_PERMISSION
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      PERMISSION_NAME = #{permissionName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      MODULE_ID = #{moduleId,jdbcType=VARCHAR},
      SORT_INDEX = #{sortIndex,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
  </update>
  <select id="findPermissionByRoleId" parameterType="string" resultMap="BaseResultMap">
    SELECT s.*
    FROM
    role_module_permission_rel a,
    module_permission_rel b,
    IMS.SYS_PERMISSION s
    WHERE
    a.role_id=#{roleId}
    AND a.module_permission_id=b.rel_id
    AND b.permission_id=s.permission_id
  </select>
  <select id="findPermissionByModuleId" parameterType="string" resultMap="BaseResultMap">
    SELECT b.* FROM
    module_permission_rel a,
    sys_permission b
    WHERE a.permission_id=b.permission_id
    AND a.module_id=#{moduleId}
  </select>
</mapper>