<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.IMS.dao.WorkDiaryMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.IMS.entity.WorkDiary">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="SECTION" jdbcType="VARCHAR" property="section" />
    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
    <result column="WORK_TYPE" jdbcType="VARCHAR" property="workType" />
    <result column="WORK_MODULE" jdbcType="VARCHAR" property="workModule" />
    <result column="WORK_TIME_START" jdbcType="VARCHAR" property="workTimeStart" />
    <result column="WORK_TIME_END" jdbcType="VARCHAR" property="workTimeEnd" />
    <result column="WORK_HOURS" jdbcType="VARCHAR" property="workHours" />
    <result column="WORK_CONTENT" jdbcType="VARCHAR" property="workContent" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATER_ID" jdbcType="VARCHAR" property="updaterId" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, EMP_ID, EMP_NAME, SECTION, WORK_DATE, WORK_TYPE, WORK_MODULE, WORK_TIME_START, 
    WORK_TIME_END, WORK_HOURS, WORK_CONTENT, REMARK, STATUS, DEL_FLAG, CREATOR_ID, CREATOR, 
    CREATE_TIME, UPDATER_ID, UPDATER, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.WORK_DIARY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.WORK_DIARY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample">
    delete from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.IMS.entity.WorkDiary">
    insert into IMS.WORK_DIARY (ID, EMP_ID, EMP_NAME, 
      SECTION, WORK_DATE, WORK_TYPE, 
      WORK_MODULE, WORK_TIME_START, WORK_TIME_END, 
      WORK_HOURS, WORK_CONTENT, REMARK, 
      STATUS, DEL_FLAG, CREATOR_ID, 
      CREATOR, CREATE_TIME, UPDATER_ID, 
      UPDATER, UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, 
      #{section,jdbcType=VARCHAR}, #{workDate,jdbcType=TIMESTAMP}, #{workType,jdbcType=VARCHAR}, 
      #{workModule,jdbcType=VARCHAR}, #{workTimeStart,jdbcType=VARCHAR}, #{workTimeEnd,jdbcType=VARCHAR}, 
      #{workHours,jdbcType=VARCHAR}, #{workContent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.IMS.entity.WorkDiary">
    insert into IMS.WORK_DIARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="empName != null">
        EMP_NAME,
      </if>
      <if test="section != null">
        SECTION,
      </if>
      <if test="workDate != null">
        WORK_DATE,
      </if>
      <if test="workType != null">
        WORK_TYPE,
      </if>
      <if test="workModule != null">
        WORK_MODULE,
      </if>
      <if test="workTimeStart != null">
        WORK_TIME_START,
      </if>
      <if test="workTimeEnd != null">
        WORK_TIME_END,
      </if>
      <if test="workHours != null">
        WORK_HOURS,
      </if>
      <if test="workContent != null">
        WORK_CONTENT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updaterId != null">
        UPDATER_ID,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workType != null">
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="workModule != null">
        #{workModule,jdbcType=VARCHAR},
      </if>
      <if test="workTimeStart != null">
        #{workTimeStart,jdbcType=VARCHAR},
      </if>
      <if test="workTimeEnd != null">
        #{workTimeEnd,jdbcType=VARCHAR},
      </if>
      <if test="workHours != null">
        #{workHours,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null">
        #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample" resultType="java.lang.Long">
    select count(*) from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.WORK_DIARY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null">
        EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.section != null">
        SECTION = #{record.section,jdbcType=VARCHAR},
      </if>
      <if test="record.workDate != null">
        WORK_DATE = #{record.workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workType != null">
        WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.workModule != null">
        WORK_MODULE = #{record.workModule,jdbcType=VARCHAR},
      </if>
      <if test="record.workTimeStart != null">
        WORK_TIME_START = #{record.workTimeStart,jdbcType=VARCHAR},
      </if>
      <if test="record.workTimeEnd != null">
        WORK_TIME_END = #{record.workTimeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.workHours != null">
        WORK_HOURS = #{record.workHours,jdbcType=VARCHAR},
      </if>
      <if test="record.workContent != null">
        WORK_CONTENT = #{record.workContent,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null">
        UPDATER_ID = #{record.updaterId,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null">
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.WORK_DIARY
    set ID = #{record.id,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=VARCHAR},
      EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      SECTION = #{record.section,jdbcType=VARCHAR},
      WORK_DATE = #{record.workDate,jdbcType=TIMESTAMP},
      WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      WORK_MODULE = #{record.workModule,jdbcType=VARCHAR},
      WORK_TIME_START = #{record.workTimeStart,jdbcType=VARCHAR},
      WORK_TIME_END = #{record.workTimeEnd,jdbcType=VARCHAR},
      WORK_HOURS = #{record.workHours,jdbcType=VARCHAR},
      WORK_CONTENT = #{record.workContent,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATER_ID = #{record.updaterId,jdbcType=VARCHAR},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.IMS.entity.WorkDiary">
    update IMS.WORK_DIARY
    <set>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        EMP_NAME = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        SECTION = #{section,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workType != null">
        WORK_TYPE = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="workModule != null">
        WORK_MODULE = #{workModule,jdbcType=VARCHAR},
      </if>
      <if test="workTimeStart != null">
        WORK_TIME_START = #{workTimeStart,jdbcType=VARCHAR},
      </if>
      <if test="workTimeEnd != null">
        WORK_TIME_END = #{workTimeEnd,jdbcType=VARCHAR},
      </if>
      <if test="workHours != null">
        WORK_HOURS = #{workHours,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null">
        WORK_CONTENT = #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null">
        UPDATER_ID = #{updaterId,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.IMS.entity.WorkDiary">
    update IMS.WORK_DIARY
    set EMP_ID = #{empId,jdbcType=VARCHAR},
      EMP_NAME = #{empName,jdbcType=VARCHAR},
      SECTION = #{section,jdbcType=VARCHAR},
      WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      WORK_TYPE = #{workType,jdbcType=VARCHAR},
      WORK_MODULE = #{workModule,jdbcType=VARCHAR},
      WORK_TIME_START = #{workTimeStart,jdbcType=VARCHAR},
      WORK_TIME_END = #{workTimeEnd,jdbcType=VARCHAR},
      WORK_HOURS = #{workHours,jdbcType=VARCHAR},
      WORK_CONTENT = #{workContent,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATER_ID = #{updaterId,jdbcType=VARCHAR},
      UPDATER = #{updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>