<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navinfo.IMS.dao.WorkDiaryMapper">
  <resultMap id="BaseResultMap" type="com.navinfo.IMS.entity.WorkDiary">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
    <result column="WORK_TYPE" jdbcType="VARCHAR" property="workType" />
    <result column="HOURS" jdbcType="VARCHAR" property="hours" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, EMP_ID, EMP_NAME, WORK_DATE, WORK_TYPE, HOURS, CONTENT, REMARKS, STATUS, ATTR1, 
    ATTR2
  </sql>
  <select id="selectByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMS.WORK_DIARY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from IMS.WORK_DIARY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample">
    delete from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.navinfo.IMS.entity.WorkDiary">
    insert into IMS.WORK_DIARY (ID, EMP_ID, EMP_NAME, 
      WORK_DATE, WORK_TYPE, HOURS, 
      CONTENT, REMARKS, STATUS, 
      ATTR1, ATTR2)
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, 
      #{workDate,jdbcType=TIMESTAMP}, #{workType,jdbcType=VARCHAR}, #{hours,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.navinfo.IMS.entity.WorkDiary">
    insert into IMS.WORK_DIARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="empName != null">
        EMP_NAME,
      </if>
      <if test="workDate != null">
        WORK_DATE,
      </if>
      <if test="workType != null">
        WORK_TYPE,
      </if>
      <if test="hours != null">
        HOURS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="attr1 != null">
        ATTR1,
      </if>
      <if test="attr2 != null">
        ATTR2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workType != null">
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="hours != null">
        #{hours,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.navinfo.IMS.entity.WorkDiaryExample" resultType="java.lang.Long">
    select count(*) from IMS.WORK_DIARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMS.WORK_DIARY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null">
        EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.workDate != null">
        WORK_DATE = #{record.workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workType != null">
        WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      </if>
      <if test="record.hours != null">
        HOURS = #{record.hours,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.attr1 != null">
        ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      </if>
      <if test="record.attr2 != null">
        ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMS.WORK_DIARY
    set ID = #{record.id,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=VARCHAR},
      EMP_NAME = #{record.empName,jdbcType=VARCHAR},
      WORK_DATE = #{record.workDate,jdbcType=TIMESTAMP},
      WORK_TYPE = #{record.workType,jdbcType=VARCHAR},
      HOURS = #{record.hours,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      ATTR2 = #{record.attr2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.navinfo.IMS.entity.WorkDiary">
    update IMS.WORK_DIARY
    <set>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="empName != null">
        EMP_NAME = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="workType != null">
        WORK_TYPE = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="hours != null">
        HOURS = #{hours,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        ATTR1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        ATTR2 = #{attr2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.navinfo.IMS.entity.WorkDiary">
    update IMS.WORK_DIARY
    set EMP_ID = #{empId,jdbcType=VARCHAR},
      EMP_NAME = #{empName,jdbcType=VARCHAR},
      WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      WORK_TYPE = #{workType,jdbcType=VARCHAR},
      HOURS = #{hours,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ATTR1 = #{attr1,jdbcType=VARCHAR},
      ATTR2 = #{attr2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>